@using Readdit.ViewModels.Categories
@model CategoryViewModel
<form id="AddCategoryForm" method="post">
    <div>
        <div class="text-lg-start" style="padding-bottom: 20px;">
            <label style="padding-left: 10px;" asp-for="@Model.Name"></label>
            <input class="form-control" aria-required="true" asp-for="@Model.Name" />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
    </div>
    <p>Current Categories</p>
    <div>
        @foreach (var item in Model.CategoryNames)
        {
            <ul>
                <li>@item</li>
            </ul>
        }
    </div>
    <button class="btn btn-danger" stype="width:130px" asp-action="Add" asp-controller="Category">Add</button>
</form>
